.transactionWrapper {
  position: relative;
  left: 20px;
  right: 20px;
  width: calc(100vw - 64px);
  min-height: 380px;
  display:flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  margin:1.25rem 0;

}