.cardContainer{
  height: 181px;
  width: 355.41px;
  border-radius: 15px;
  background-color: #9B9B9B;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:2rem
  
}

.cardContainer p,.cardContainer span{
  font-size: 30px;
  line-height: 34.47px;
  font-family: Ubuntu;
}

.cardContainer p{
  font-weight: 400px;
}

.cardContainer span {
  font-weight: 700px;
}

.buttonContainer{
  width: 167.65px;
  height: 38px;
  background: linear-gradient(90deg, #B5DC52 0%, #89E148 100%);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}



.cardContainer button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.38px;
  text-align: left;
  color: #FFFFFF;

}

.cardContainer button span {
  margin-top: 5px;

}

.addButtonContainer{
  background: linear-gradient(90deg, #FF9595 0%, #FF4747 80%, #FF3838 100%);
}

.incomeSpan{
  color: #9DFF5B;;
}

.addItemSpan{
  color:  #F4BB4A;;
}

